@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

h3 {
    font-size: 28px;
    color: rgb(23, 5, 88);
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/profile-background.jpg');
    box-shadow: inset 0 0 0 1000px rgba(252, 250, 250, 0.822);
    overflow: auto;
    text-align: center;
}

nav {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(206, 3, 247, 0.685);
    z-index: 1;
}

#nav-h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    color: rgb(2, 2, 155);
}

.nav-buttons {
    display: flex;
    /* right: 30px;
    top: 20px */
}

.friend-search {
    width: 400px;
    height: 40px;
    padding-left: 25px;
    margin: 5px;
    margin-right: 100px;
    /* border: solid 1px rgb(206, 3, 247); */
    border: none;
    border-radius: 50px;
}

/* profile page */
.bio-wrapper {
    background-image: url('./assets/istockphoto-1284691550-612x612.jpg');
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(16, 4, 119, 0.39);
    margin: 120px auto 0px auto;
    width: 60%;
    padding: 50px;
}

.profile-details-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    width: 200px;
}

.profile-details {
    border-radius: 50%;
    width: 300px;
}

.image-wrapper {
    width: 200px;
}

/* posts component */
.posts-wrapper {
    margin: 120px auto;
    width: 60%;
    padding: 20px 50px;
}

#profile-feed {
    margin-top: -80px;
}

.post-wrapper {
    background-color: rgba(4, 4, 88, 0.411);
}


.results-wrapper {
    width: 60%;
    background-color: rgba(253, 250, 250, 0.801);
}