@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;700;900&display=swap');

body, html, #app {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  text-align: center;
}

/* html, body, #app, #app {
  max-height: 100vw;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
